<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestAll">

  <test name="database">
	<groups>
		<run>
			<exclude name="functionalTest" />
			<include name="smokeTest" />
		</run>
	</groups>
  
	<packages>
			<package name="com.ptc.*" />
		</packages>
  </test>
 
</suite>